body{background-color:#F9C9E0;
}

a{text-decoration: none;
}

h1{
	text-align: center;
}

section{margin-left: 1vw;
width: 90vw;
font-size:1.3vw;
}

article{border:solid blue 0.3vh;
border-radius: 2vh;
background-color: yellow;
margin-top: 1.5vh;
margin-left: 2vw;
padding: 1vh;
width: 25vw;
float: left;
height: 60vh}

footer{margin-top: 75vh;}

h2{
	text-align: center;
}

img{
	height: 40vh;
	width: 20vw;
    margin-left: 2.5vw;
}
p{
	margin-top: 2px;
	text-align: justify;

}
h3{
    text-align: center;
}

